.dropdown-content{
    display: none;
    position:absolute;
}
i.material-icons{
	margin: 0px 0px 0px 0px;
}
a.dropdown-trigger,a.dropdown-button{
	padding: 0px 0px 0px 0px;
}
.droptown-trigger{
    position: relative;
}
.waves-effect{
    margin-top: 10px;
    width: 33%;
    margin-left: 1px;
    margin-bottom: 10px;
}

.collection li span{
   display: inline-block;
    vertical-align: center;
}
span.title{
    padding-left: 45px;
}
span.collectoe{
    text-align: center;
}
div.item{
    margin-top: 15px;
}
#title{
      margin-left: 13px!important;
}
#data{
    padding-left: 20px;
}
collection-item {
            margin-left: 20px;
}
